@CHARSET "ISO-8859-1";

#body {
	 background-color: #FCFBF8;
}

#blankRow {
	text-align: center;
	font-size: 37px;
	color: #FCFBF8;
}


#story {
	text-align: center;
	font-size: 37px;
	font-family: Philosopher;
}

#ending {
	text-align: center;
	font-size: 40px;
}