@CHARSET "ISO-8859-1";

#body {
	 background-color: #E6E6E6;
}

#blankRow {
	text-align: center;
	font-size: 37px;
	color: #E6E6E6;
}


#story {
	text-align: center;
	font-size: 37px;
}

#ending {
	text-align: center;
	font-size: 40px;
}